@model PostConciseViewModel

<tr>
    <td style="vertical-align: middle">
        @Model.PublishDateTime
    </td>
    <td style="vertical-align: middle">
        <a asp-area="Admin" asp-controller="Users" asp-action="Details" asp-route-id="@Model.UserId">
            @Model.Username
        </a>
    </td>
    <td style="vertical-align: middle">
        @Model.Content
    </td>
    <td style="vertical-align: middle">@Html.DisplayFor(model => model.IsApproved)</td>
    <td style="vertical-align: middle">
        <div class="container-fluid">
            <ul class="nav navbar-expand-lg navbar-light d-flex justify-content-center">
                <li class="nav-item">
                    <div style="padding:2px">
                        <form asp-area="Admin" asp-controller="Posts" asp-action="Approve" asp-route-id="@Model.Id" method="post">
                            <div>
                                <button type="submit" id="send" class="btn btn-outline-success" style="font-size: 12px">Approve</button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="padding:2px">
                        <form asp-area="Admin" asp-controller="Posts" asp-action="UnApprove" asp-route-id="@Model.Id" method="post">
                            <div>
                                <button type="submit" id="send" class="btn btn-outline-warning" style="font-size: 12px">UnApprove</button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="padding:2px">
                        <form asp-area="Admin" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                            <div>
                                <button type="submit" id="send" class="btn btn-outline-danger" style="font-size: 12px">Delete</button>
                            </div>
                        </form>
                    </div>
                </li>                
            </ul>
        </div>
    </td>
</tr>