@model ArticleConciseViewModel

<div class="card" style="width: 48rem; justify-content:center">
    <div class="card-body">
        <h3 class="card-title">@Model.Title</h3>
        <p class="card-subtitle mb-2 text-muted">@Model.PublishDateTime by @Model.Author</p>
        <p class="card-text" style="font-size: 15px">@Model.ShortContent ...</p>
        <a asp-page="/Articles/Details" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug">
            Read more
        </a> 
    </div>
</div>