@model FabricDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<br />
<div class="row">
    <div class="col-lg-3">
        <img src="@Model.ImageUrl" style="max-width:250px" />
    </div>
    <div class="col-lg-9">
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
    </div>
</div>
<br />
@if (User.IsInRole(WebConstants.AdminRole))
{
    <div class="row product-action-holder mt-4 d-flex justify-content-around">
        <div><a class="btn send" asp-area="Admin" asp-controller="Fabrics" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></div>
        <form asp-area="Admin" asp-controller="Fabrics" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <div><button type="submit" id="send" class="btn send">Delete</button></div>
        </form>
        <a class="btn btn-light" asp-area="Admin" asp-controller="Fabrics" asp-action="Index">Cancel</a>
    </div>
}
